@page
@model IndexModel

<div class="card" style=" margin-top: 20px">
  <div class="card-header">
<h1>Choose Your Pizza</h1>
<form method="post">
      
   <label>Select a Pizza Type</label>
     <select asp-for="@Model.pizza.PizzaType" asp-items="@Model.PizzaTypesList"></select> 
     <button type="submit" class="btn btn-primary">Choose Pizza Type</button>
  </form> 
</div>

@*<div class="card"  style="width: 18rem; margin-top: 20px">*@

    @if (Model.FirstLoad)
    {
        <img src ="~/images/@Model.pizza.Image" class="card-img-top img-fluid img-thumbnail rounded mx-auto d-block"/>  
<div class="card-body"> 
    
    <p class="card-text">The price is $@Model.pizza.Price and the size is @Model.pizza.Size, with a @Model.pizza.Base base</p>
     
     @if (@Model.pizza.IsGlutenFree)
            {
                <p class="card-text">The Pizza is Gluten Free</p>
            }
            else
            {
                 <p class="card-text">The Pizza contains Gluten</p>
            }

             @if (@Model.pizza.IsVegetarian)
            {
                <p class="card-text">The Pizza is Vegetarian</p>
            }
            else
            {
                 <p class="card-text">The Pizza not Vegetarian</p>
            }

        
              <div class="card-footer">
              <p class="h4">Ingredients</p>
               <ul class="list-group list-group-flush">
       @foreach(string item in Model.pizza.Ingredients){
       <li class="list-group-item">@item</li>
        }
  </ul>
  </div>
   
  
  </div>
   }
    </div>
 