@page
@model IndexModel


<h1>Choose Your Pizza</h1>
<form method="post">
  <div class="mb-3">
    
<div class="row g-3">
      <div class="col">
   <label>Enter the Pizza Type</label></br>
     <select asp-for="@Model.pizza.PizzaType" asp-items="@Model.PizzaTypesList"></select> 
    </div>
        
   
  </div>
   
  <button type="submit" class="btn btn-primary">Choose Pizza Type</button>
</form> 

<div class="card"  style="width:400px">

    @if (Model.FirstLoad)
    {
        <img src ="~/images/@Model.pizza.Image" class="card-img-top img-fluid img-thumbnail rounded mx-auto d-block"/>  
<div class="card-body"> 
    
    <p class="card-text">The price is $@Model.pizza.Price</p>
     <p class="card-text">The size is @Model.pizza.Size</p>
     <p class="card-text">The Pizza base is @Model.pizza.Base</p>
     
     @if (@Model.pizza.IsGlutenFree)
            {
                <p class="card-text">The Pizza is Gluten Free</p>
            }
            else
            {
                 <p class="card-text">The Pizza contains Gluten</p>
            }

             @if (@Model.pizza.IsVegetarian)
            {
                <p class="card-text">The Pizza is Vegetarian</p>
            }
            else
            {
                 <p class="card-text">The Pizza not Vegetarian</p>
            }

        
              <div class="card-footer">
              <p class="h4">Ingredients</p>
               <ul>
       @foreach(string item in Model.pizza.Ingredients){
       <li>@item</li>
        }
  </ul>
  </div>
   
  
  </div>
   }
    </div>
 